[2014-02-15 00:03] heff opened #1 "Can a jsbin or other live demo be made for this?"
For easier demoing. http://jsbin.com/axedog/9999/edit

[2014-02-26 01:55] #1 closed, assigned to nobody

[2014-07-29 17:14] rgauss opened #3 "Timing of Plugin Registration and Marker Initialization"
There can sometimes be issues in registering the marker plugin if videojs is not loaded through conventional means.

For example, if videojs is loaded using a dojo `require` then `videojs` is undefined and it can be difficult to force the timing of the load of the marker plugin to occur just after videojs has loaded.

It would be nice if the marker plugin checked that videojs is loaded and if not,

[2014-07-30 20:22] rgauss opened #6 "Unique ID for Marker DIVs"
Currently the array index of the `marker_breaks` iteration is used as the id of the marker `<div class='vjs-marker'>` element, resulting in HTML elements with `id=0`, `id=1`, etc.

This has the potential to conflict with other IDs on a page, particularly if more than one videojs player with markers is present.

A unique ID should be used for the marker element.

[2014-08-03 00:06] #6 closed, assigned to nobody

[2014-08-19 17:12] rebendajirijr opened #9 "Marker time greater than max video time"
If I try to add a marker with break greater than a max video time, marker is placed at the beginning of video. I'd expect the marker won't be placed anywhere.

[2014-08-19 17:20] #9 closed, assigned to nobody

[2014-12-10 16:00] sangcu opened #11 "Markers with SPA"
Hi,
I'm developing a solution based on SPA that need to use markers plugin. Unfortunately, there is no way to destroy marker that already added in the videojs.
Do you have any idea? I have developed a version for my own that support to set the parameter as a string to indicate that destroy the markers, and would like to make a pull request to this repo as well.

[2014-12-14 09:01] #11 closed, assigned to nobody

[2015-01-31 01:35] #3 closed

[2015-02-16 10:23] adrianpuescu opened #12 "Marker not reached if clicking between markers"
While testing the 'Dynamic video' example, I noticed that, if I click between the markers on the progress bar, the markers are not considered to be reached. Actually sometimes they are and sometimes they're not. Mostly not.

Would be great if the reached markers detection would work without any error between them as well. Consider a simple menu with some so called 'chapter' buttons which should be

[2015-02-16 19:47] spchuang commented on #12
That's a good idea. Since this may or may not be the behavior that everyone expects, I will add a Boolean option for "betweenMarkerReach". If it's true, the plugin will trigger the reach event when clicked in between the markers.

[2015-03-13 23:42] spchuang commented on #12
Closing as commit#c7fb109f handles this request.

[2015-03-13 23:42] #12 closed

[2015-04-17 21:02] hyperTwitch opened #14 "None of your demos work right now"
I guess it looks like you updated how your plugin is called at some point which has caused your demos to all stop working. Here's a fixed jsbin version http://jsbin.com/goloyekevu/2/edit?html,output you may want to look into what broke your demo page though.

[2015-06-03 22:22] spchuang commented on #14
The demo page seems to work for me.

[2015-06-15 18:27] deekoder opened #15 "Markers are not working - Please can you fix them."

[2015-06-15 18:31] spchuang commented on #15
Can you provide more information -- browser, jquery version, console logs, so I can possibly reproduce it.

[2015-06-15 20:55] spchuang opened #16 "Break overlay doesn't appear immediately when clicking on markers"

[2015-06-15 20:56] spchuang opened #17 "Marker text doesn't hide in some cases"
![snap](https://cloud.githubusercontent.com/assets/1685857/8170558/46982f96-1366-11e5-85b5-a69b4f392414.jpg)

[2015-06-16 19:23] jenswachtel commented on #15
Hi,

the link to your Jbin example seems to have a 404 inside the script
(https://rawgit.com/spchuang/videojs-markers/master/src/videojs.markers.css => 404)

If I go to your other demo (http://www.sampingchuang.com/videojs-markers)
I don't see any markers either. I am using Windows 8.1 with the latest Chrome browser

Thanks,
Jens

[2015-06-16 20:29] spchuang commented on #15
mmm it's weird. The first time I load the page, the progress bar on the first demo doesn't work but the rests do. Then I refreshed the page a couple times, and everytime the progress bar is there.

Do you see any console logs?

[2015-06-16 20:34] spchuang commented on #15
And I just fixed the jsbin example.

[2015-06-17 13:08] jenswachtel commented on #15
Thanks btw. for this plugin!
Okay, this is what I get in Chrome (Windows 8.1). The overlay on top of the video works fine after a cuepoint got triggered. There are no errors, except the favicon.ico
![videoplayer - no marker](https://cloud.githubusercontent.com/assets/9703013/8207529/21bb7352-14d0-11e5-8e1a-533aaba10d5f.PNG)

[2015-08-03 23:40] ldiebold opened #20 "Can't add markers"
Thanks for writing this plugin, it's saved me a lot of time!
Just a couple of issues.

 - In your demo, adding a marker does nothing except on occasions where it adds a marker towards the end of the video.
 - Clicking "remove" seems to remove all markers except a couple.

tested on latest version of Chrome and Firefox with same result.

Thanks again :)

[2015-08-04 00:41] spchuang commented on #20
Hi, if you look at the code for the demo:

    $(".remove").click(function(){
       player.markers.remove([1,2]);
    })
    $(".add").click(function(){
       player.markers.add([{
          time: 40,
          text: "I'm NEW"
       }]);
    });
 you'll see that add simply adds a marker at time 40 and remove removes the markers indexed at 1 and 2 (sorted by time). Hope that helps.

[2015-08-04 03:23] ldiebold commented on #20
Ahh I see.

Thanks for your help!

[2015-08-04 07:13] #20 closed

[2015-08-12 09:46] xianlaioy opened #21 "marker display incomplete"
![qq 20150812174814](https://cloud.githubusercontent.com/assets/5875104/9221078/f7aec07a-4119-11e5-8579-7f3a4c53cd5d.jpg)

[2015-08-12 21:17] spchuang commented on #21
Hi, can you be more specific on the issue?

[2015-08-13 03:50] xianlaioy commented on #21
in dialog display incomplete
![1111](https://cloud.githubusercontent.com/assets/5875104/9242276/6c3e88b6-41b1-11e5-8a0d-ccb36287de02.jpg)

[2015-08-13 06:36] spchuang commented on #21
I'm still not sure what the problem is. Do you mind showing a testing page so I can reproduce it myself? Thanks

[2015-08-19 03:41] andreabr opened #22 "How to insert pauses in the breakpoints ?"
Dear Spchuang,

Your plugin is great.

I have used it to study some video programming classes where I type in the IDE which is given in class video.
So, how to do, if possible, to insert a pause time in video on breakpoints ?

Is to watch part of the video, in the breakpoint the video pauses and I go type in IDE and then back to the video. Then, I could set a pause, for example, 30 secs at first b

[2015-08-19 14:06] ldiebold commented on #22
Hi andreabr, I may be able to help.

As you may know, you can pass in options when you initialize the plugin.
The plugin has an "onMarkerReached" option so you could do something like this:

[code]

Does this help?

[2015-08-21 06:25] spchuang commented on #22
@ldiebold provided a good example.

If you would like to have a variable pause time for each marker (e.g. 30 sec at 1st and 60 seconds at 2nd), you could store the seconds to pause in each marker you pass to the plugin.

[code]

[2015-08-21 13:28] jorgepcbraz opened #23 "Videojs-markers with videojs-youtube"
I am having some problems when trying to use videojs-markers combined with videojs-youtube.
Did you tested this? Is it possible?

[2015-08-28 21:20] spchuang commented on #23
What's the problem? Can you be more specific

[2015-10-06 18:09] michaeldzjap opened #26 "breakOverlay doesn't dissapear"
Setting displayTime doesn't work. From the time of reaching the associated marker, the overlay will be displayed indefinitely or until the start time of the next marker. This is the case for videojs 5 at least, haven't tried with previous versions.

[2015-10-11 15:21] michaeldzjap opened #27 "TypeError: Cannot read property 'time' of undefined"
This appears in the js console the moment the video ends playback for the first time using videojs 5. Restarting the video again makes these messages accumulate on a continuous basis. Full output in the console (Chrome):

Uncaught TypeError: Cannot read property 'time' of undefined in videojs-markers.min.js:3

[2015-10-19 16:47] mcanthony opened #28 "Fix for broken demos/code due to deprecation of webkitMovementX/Y"
Removing the prefixes to read movementX and movementY should do the trick. I don't think any browser should require the webkit prefix but if this is the case you could make this a conditional.

[2015-10-20 02:32] spchuang commented on #28
I'm not sure what the issue is. Can you be more specific?

[2015-10-20 02:32] spchuang commented on #27
I'll take a look. Thanks for reporting :)

[2015-10-20 06:44] spchuang commented on #27
fixed it in commit 702727

[2015-10-20 06:52] spchuang commented on #26
fixed with newest commit!

[2015-10-20 06:52] #26 closed

[2015-10-20 07:18] benbro commented on #14
Both demos don't work for me either.
The fixed version above work.

[2015-10-20 07:20] benbro opened #29 "Display images in markers"
Is it possible to show a thumbnail instead of just text?
Something like:
https://github.com/brightcove/videojs-thumbnails

[2015-10-20 07:28] michaeldzjap commented on #27
Thank you!

[2015-10-22 04:01] spchuang commented on #29
Do you mean in the tooltip or in banner? And what is the use case here

Sent from my iPhone

[2015-10-22 06:04] benbro commented on #29
In the tooltip.
The use case is to see a preview of what you'll see if you seek to this marker.

[2015-10-22 08:20] Albermg7 opened #30 "Website with documentation not working"
Hi:)
Sorry to post it here, since it is not actually an issue with the plugin itself.
I just wanted to tell you that the website (http://sampingchuang.com/videojs-markers) is not working and the documentation was really usefull por me

Thanks a lot for your work! Its quite good!

[2015-10-22 23:07] spchuang commented on #30
Hey thanks for letting me know! I'll look into it and bring back the site.

Meanwhile, you can look at the doc from the source code: https://github.com/spchuang/sampingchuang/blob/master/app/templates/videojs-markers.html

[2015-11-02 04:29] spchuang commented on #29
I see. Yeah it's definitely possible. You can update modify the source code to display <img> instead of text for the tooltip. Do you want to send a pull request?

[2015-11-02 07:08] #29 closed

[2015-11-04 10:51] michaeldzjap commented on #27
Hmmm... After updating to your latest commit it seems this problem still persists.

[2015-11-04 19:00] spchuang commented on #27
Can you show me an example code so I can repro?

Sent from my iPhone

[2015-11-07 00:10] mcanthony commented on #28
Oh sorry it was actually video.js which contained the deprecated prefixes, or at least the version of it being used in the jsbin demo. I don't think this is why the demo isn't working however, that seems to be related to broken links to assets. The version on your website is not available (as I am sure your aware your site is down).

I was just passing through and saw the deprecation notice when I

[2015-11-09 01:40] spchuang commented on #30
The website is up now.

[2015-11-09 01:40] #30 closed

[2015-11-09 01:40] spchuang commented on #28
I see. Thanks for noticing! I brought the website back again.

[2015-11-09 01:40] #28 closed

[2015-11-12 19:37] jojo080889 commented on #23
I'm having the same issue! The markers simply don't appear when loading a video with the videojs-youtube. The markers appear if I load a non-youtube video, though.

[2015-11-15 23:04] rgw3d commented on #23
I also am having this issue - It works for non-videojs-youtube videos, but not with youtube videos

[2015-12-08 14:58] clkao commented on #23
https://github.com/eXon/videojs-youtube/pull/340 fixes this issue.

[2016-05-30 02:15] smarajitdasgupta opened #34 "non jQuery version ?"
I would need to create video js ad markers and pretty much the very functionality this plugin covers already. However the player project code I am working on does not use jQuery and was wondering if there is a version of videojs-markers that can work without jquery?

[2016-05-31 07:18] spchuang commented on #34
Hi, thanks for your interested in using the library. Unfortunately, I don't have a version without dependency on jQuery. You're certainly more than welcomed to convert the library to only use raw javascript for DOM manipulation.

An alternative (if jQuery is too heavy for your use case) is using other light weight DOM manipulation libraries like sizzle (a component of Jquery) or zepto. They might

[2016-06-06 10:04] smarajitdasgupta opened #36 "Playlists : previous video markers not removing when new video plays"
Hi I am able to use the marker plugin successfully for video playback on page load / refresh. However when I use a upnext playlist to load new videos after the first one plays, the second video onwards the markers do not remove the previous video's markers from the DOM and view and the markers add up to the previous ones in the DOM. Although options.markers that is fed into addMarkers has the corr

[2016-06-06 21:54] smarajitdasgupta commented on #36
On load I tried calling like this...

player.one('loadedmetadata', function() {
                player.markers({
                   markers: adCuePoints
                });
});

adCuePoints is in the specified object format. It loads the markers correctly.

On upNextPlaylistClick, I tried reseting the markers like so...

player.on('loadedmetadata', function() {
                player.markers.reset

[2016-06-06 22:18] smarajitdasgupta commented on #36
This has been fixed by calling the reset in this way from upNextPlaylist item clicks:

player.markers.reset(adCuePoints);

Thanks. Feel free to close it.

[2016-06-06 22:22] #36 closed

[2016-06-17 10:39] smarshallsay opened #37 "Markers don't display in Chrome and only display on the dynamic video in Firefox (Edge is okay)"
As in title, markers don't seem to show on the slider in Chrome.

I also notice the styling is missing in chrome (non-black control bar)

Any ideas? :) Thanks for your work on this.

[2016-06-17 10:50] smarshallsay commented on #37
Actually I can get the bar to appear in chrome at least in the Dynamic version if I set .vjs-control-bar to display:block

[2016-06-25 16:20] martinbean opened #39 "Add plugin to npm registry"
I tried to install this plugin using `npm install videojs-markers`, but got the following error:

[code]

Are you able to publish it, please?

[2016-06-25 16:58] spchuang commented on #39
Just published!

[2016-06-25 16:58] #39 closed

[2016-07-11 12:04] andreabr commented on #22
Amigo, qual seria o problema ou o exemplo que voce queria para ver se posso te ajudar...

abraços

[2016-07-11 14:13] sethbrandom commented on #22
Olá André. Obrigado por responder, poderia me disponibilizar algum e-mail para eu enviar o modelo que estou criando?

Grato

[2016-07-11 14:47] sethbrandom commented on #22
André estou tentando definir pausas nas marcações de capitulos do video

[2016-07-11 16:24] andreabr commented on #22
andrezinhodorio at gmail

[2016-07-14 05:53] martinbean opened #40 "Compatibility for Video.js version 5"
Is this on the roadmap at all?

[2016-07-15 17:57] jaruche opened #41 "Formatting markerTip CSS"
Hi,

I see on the example that it is possible to customize the marker by setting CSS markerStyle.

How could I do the same for the markerTip? I would like to change the background color and size.

Thanks,
Fernando

[2016-07-15 18:18] jaruche commented on #41
I found the styles:

`<style>
        .vjs-tip {
            font-size: 14px;
        }
        .vjs-tip .vjs-tip-inner {
            color: black;
            background-color: yellow;
        }
        .vjs-tip .vjs-tip-arrow {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAENJREFUGBmNzlEKACAIA9Dt/oc2DGZLQuqncC8VaCcC0UqgFxyQJyv

[2016-07-16 22:21] spchuang commented on #40
hi @martinbean  thanks for your interest. I haven't been actively maintaining the plugin. I can take a look when I have more free time but you are certainly more than welcome to submit a fix so it's compatible with video.js 5!

[2016-07-16 22:23] spchuang commented on #41
Hi @jaruche  it certain makes sense to add "style" as a property for markerTips in the plugin. For now, feel free to override the default css classes (as you already found) to customize the style!

[2016-07-16 23:11] spchuang commented on #41
The font size is relatively simple you can just override the css. The tricky thing is the background color. The bottom of the tooltip is a black rectangle image so you need to update the image too

[2016-07-16 23:13] spchuang commented on #37
What chrome version are you using? It renders fine on chrome 51 on my mac

[2016-07-26 08:38] saeedalvand opened #42 "merker reached event does not fire ontime on firefox"
I implemented a coed in which I needed to block seeking beyond a marker. It was fully working on chrome, but when I tested it on firefox, it didn't work. The reason is that "onMarkerReached" event is fired before "seeking" event and so I cannot check whether it has been called while playing or seeking.

[2016-07-26 20:44] sethbrandom opened #43 "The display option not working..."
HI, the option display not turning the markers invisible when set to false...

[2016-08-31 18:39] bigt11 commented on #27
I am getting this same error if I use
 `    markers: [
      {time: 0}
    ]`

I am getting this same error if I use below.  I personally want to start with no markers.
 `    markers: [
    ]`

No error with this
 `    markers: [
      {time: 1}
    ]`

No error with this
 `    markers: [
      {time: 0},{time: 1}
    ]`

[2016-09-03 19:30] umutphp opened #46 "Is it possible to change the marker css class on onMarkerClick or onMarkerReached events?"
Hi,
 I want to change the color of the marker when it is clicked or reached. Is it possible?

[2016-09-26 13:42] marianoarga commented on #40
+1

[2016-09-26 14:31] marianoarga commented on #27
Facing the same problem, getting that error on console every second after re-playing de video

[2016-09-29 10:01] mauricioklein commented on #27
Hi all!
Is this bug fixed?
Cause I'm facing the same problem: when the video reach the end at the first time, the errors below are throw to console:

![error](https://cloud.githubusercontent.com/assets/11538662/18949567/558c1a88-8612-11e6-9dd4-da310a3901e0.png)

I've already double checked and no mark is crossing the video duration.

I would appreciate if someone could share a fix or workaround.

[2016-10-20 08:49] sudha53633 commented on #40
I've been updating to videojs 5, everything seems fine except position. Could you please provide inputs to set the the exact position for the marker. "left":  getPosition(marker) + '%'.

Thanks,

[2016-10-20 15:19] mauricioklein opened #47 "Markers not being updated on reset"
Hello!

It seems that the marker are not being updated on #reset call.

My markers are being created like this:

[code]

When loading a second video, I set video src (as usual) and update the markers with the following call:

[code]

However, even ensuring that the new markers are being passed correctly to #reset function, the old markers are still there, and the new ones are just ignored.

Am I d

[2016-10-20 18:06] mauricioklein commented on #47
Ok, I did some debug here and I'm sure the method is being called correctly.
In fact, I've changed the markers array by an empty array, just to be sure that the previous markers would be deleted: they weren't.

The strange part is: if I go to the browser console and call the #reset function manually, it works fine.

Any hint would be appreciated!

[2016-10-21 12:27] mauricioklein commented on #47
@spchuang could you please take a look at this?
Any hint would be really appreciated.
Thanks!

[2016-10-23 14:33] spchuang commented on #47
Hi, I will take a look this weekend! Sorry for the day - have been really swamped with work.

[2016-10-23 14:38] spchuang commented on #46
Do you only want to change 1 particular marker or all? What you can do is assigned a custom marker class, as provided in the `markers` array. Then in the callback of `onMarkerReached` or `onMarkerClick`, manually change the css of such class.

Let me know if that works.

[code]

[2016-10-23 16:32] mauricioklein commented on #47
Thanks @spchuang!

Please let me know if I can help in anything.

By the way, after some extra tests, calling getMarkers() from React works well, returning the old markers. The problem seems to be with something related to reset function.

Thanks!

[2016-10-24 09:23] spchuang commented on #47
@mauricioklein  do you have an example of how I can reproduce this issue? I can reproduce it from the demo code (demo/example.html).

[2016-10-24 09:26] spchuang commented on #43
hi @sethbrandom  do you mean turning the markers themselves invisible? The display option only applies to break overlay and marker tip. If you want to remove a marker, it would be best to call the `remove` function.

I'm closing it but if you have any questions feel free to open it again!

[2016-10-24 09:26] #43 closed

[2016-10-24 09:26] mauricioklein commented on #47
@spchuang I'll try to create a demo app in React to reproduce this error, since I'm facing this using React.
Until the end of day I'll share with you this demo project.
About the code, I'm using the standards presented on videojs-markers example, nothing different from that.
Please let me know if I can help in something else in the meantime.
Thanks!

[2016-10-24 09:32] spchuang commented on #42
hi sorry to get back so late - were you able to figure out a fix?

[2016-10-24 09:39] #41 closed

[2016-10-24 09:40] #34 closed

[2016-10-24 09:40] #22 closed

[2016-10-24 09:41] #21 closed

[2016-10-24 10:08] spchuang commented on #42
I created an example for preventing seeking : https://github.com/spchuang/videojs-markers/blob/master/demo/example-block-seeking.html

Let me know if that helps. I'm closing this issue now.

[2016-10-24 10:08] #42 closed

[2016-10-24 10:11] spchuang commented on #47
When you tried the demo/example.html code, does the `reset` logic work for you?

[2016-10-24 10:32] spchuang commented on #27
Hi guys, sorry to get back so late. I can't seem to reproduce the problem when replaying video.

[2016-10-24 10:37] spchuang commented on #27
Can you try it with the latest commit? If the problem still exists, it'll be great if you can provide a short demo that repros the issue! Thanks

[2016-10-24 13:19] spchuang commented on #40
Hey guys, thanks for the wait.

I made some small tweaks so the style is compatible with videojs5. You can see try it out from the demo code `demo/example-videojs5.html` which uses videojs 5.11.8. The final code is pushed to version 0.7.0

If you have any more questios, please do open another issue! Thanks :)

[2016-10-24 13:19] #40 closed

[2016-10-24 13:25] spchuang commented on #40
Another style work around for html 5 is we have to set z-index of the progress circle thing to be greater than the markers' z-index (which is set to 100).
[code]

[2016-10-24 13:29] #16 closed

[2016-10-24 13:36] #14 closed

[2016-10-24 13:42] #15 closed

[2016-10-24 13:46] #23 closed

[2016-10-24 14:35] marianoarga commented on #27
Still facing the same error on console after replaying the video with the lastest commit:
VIDEOJS: ERROR: TypeError: Cannot read property 'time' of undefined(…)
@ video.js:6359
`f.apply?f[Array.isArray(b)?"apply":"call"](d,b):f(b)};c.logByType=i,/**`

[2016-10-25 02:38] spchuang commented on #27
@marianoarga  can you show me the code so I can try to repro?

[2016-10-28 16:27] umutphp commented on #46
I want to change the color of cliecked marker. Your way is not working for IE as it does not allow to change the CSS definitions.

It may be good feature to have such a functionality to change the css of markers when clicked.

[2016-11-07 10:23] amitport commented on #47
adding 1sec delay between plugin initialization and reset fixes (bypasses) the issue for me

[2016-11-21 13:33] mauricioklein commented on #47
Hello all!

So sorry about the loooong delay... Was involved in some other tasks and was able to come back to this one just now.

For some reason, after our last PR's merged on the project, the markers seems to be working well. The new ones are correctly loaded. Sorry but I can't explain exactly what was the problem.

But I'll keep @amitport suggestion in mind for future reference.

Thank you so m

[2016-11-23 00:56] spchuang commented on #47
Thank!

[2016-11-23 00:56] #47 closed

[2016-12-06 18:02] mauricioklein commented on #27
Does anyone found a fix (or at least a workaround) for this problem.
I don't see a pattern on this error, happening with some cases.
Thanks!

[2016-12-06 18:34] mauricioklein commented on #27
@spchuang I think I found the error pattern:
Here, in my project (which unfortunately I can't share any code), the error happens every time the last marker **doesn't come after the video duration**. When the last marker has it's time set to after total video duration, the error doesn't happen.

Please consider that I'm creating my markers in a crescent order of times.

So, for example:
Video durat

[2016-12-07 06:16] spchuang commented on #27
@mauricioklein it makes sense that you can't share any real code :) But can you create a small and simple demo that reproduces the issue for me? So I can debug and fix it?

[2016-12-07 09:04] mauricioklein commented on #27
@spchuang I'll try to do so in a JSBin, but I'm not sure if I'll be able to reproduce the error. I'll let you know.

Anyway, I'm now putting an extra marker on my setup, with time = `Number.MAX_SAFE_INTEGER`, which will be always greater than the video duration, and the error is gone.

Just to clarify: I'm intercepting the markers with the `onMarkerReached` callback.

Thanks!

[2016-12-13 00:15] yianlai opened #51 "Is it possible to use this on Audio tag"
Hey there,

Thanks for such an awesome tool that you have built. I am currently using VideoJS for playing audio files. And I am wondering whether your marker tool would work for audio tag? (reference: http://blog.videojs.com/Video-js-4-9-Now-can-join-the-party/)

Thanks!

[2016-12-17 23:47] spchuang commented on #51
mm that's a good question. I haven't tried it out myself. Do you mind testing it and see if it works? I'm guessing it should be supported by default but it'll be good to double check :)

[2017-01-31 00:50] shonejin commented on #37
Same problem. Doesn't work on Chrome 56 on Windows 10.

[2017-02-09 07:50] lilyxs opened #53 "How can I get video source with rtmp rangetime"
I have a question to ask you that videojs play source with rtmp type I can't get the video rangetime.The currenttime unit is ms？？？

[2017-02-13 18:32] apurvgandhwani opened #54 "Custom marker length"
Is it possible to have marker length according to start time and endtime of marker? If yes then how?

[2017-02-21 21:54] spchuang commented on #54
@apurvgandhwani by "marker length" do you mean the actual size of the marker UI (the dot)?

[2017-02-21 21:58] apurvgandhwani commented on #54
Yes. That's what I mean.

[2017-03-12 19:40] drewlitogot opened #55 "Multiple Hovers at once"
Is it possible to show multiple markers and their hover tips at once?

[2017-03-13 19:33] Freedom101 commented on #37
Doesn't work on Chrome 56.0.2924.87 (64-bit) on Windows 7. Also not working on Firefox 52

[2017-03-15 01:11] spchuang commented on #37
Mmm I don't know if I have time to debug it soon. What error message do you guys seen in the console? And what is the videojs version you are using

[2017-03-15 01:19] shonejin commented on #37
Hi @spchuang , I made it work locally but sorry I forgot how. You may have a look at the sample pages you are providing. The markers are not shown there. It looks like that the browser is using it's native video player rather than the VideoJS player.

[2017-03-20 01:22] spchuang commented on #55
It won't be possible to show all the hover tips at once with the current set up because we actually only initialize one marker tip UI in the dom and update it's position on the fly when user hover on the marker.

[2017-03-20 09:06] apurvgandhwani commented on #54
@spchuang can you please help me out?

[2017-03-20 20:14] spchuang commented on #54
have you tried playing around with manually setting the marker length using jquery?

[2017-04-15 05:59] OrDuan commented on #37
Same here, chrome 57.0.2987.98 (64-bit) ubuntu 16.04.

[2017-05-03 01:48] tmm1 commented on #54
For my use-case, I needed each marker to be of a different duration/width. I implemented this feature in https://github.com/tmm1/videojs-markers/compare/no-jquery...tmm1:marker-duration (it is built on top of #57. If that is merged, I will open a new PR for the marker duration features).

[2017-05-08 13:44] mkovacek opened #59 "Markers not showing in Firefox"
Hi,

I have problem with showing markers in Mozilla Firefox I have noticed that "loadedmetadata" event never happens.
`player.on("loadedmetadata", function () {
    	  initialize();
      });`

My current fix for that is next:

[code]
Is there better way how to solve that? I don't like that I'm changing source of the plugin.

[2017-06-15 14:48] borzaka opened #62 "Plugin error, if no markers present at initializing"
If I initialize the plugin without any markers, it gives me error:

[code]

I think the solution would be to check if there is a marker present in the `initialize()` function:
[code]

I'am planning to add markers later; for chapters based on the chapter track.

[2017-06-15 15:37] sylvain94 opened #63 "Need to add a marker depending of what is selected inside the player"
Hello ,

I need to add a marker following the scene selected inside the player (not depeding of the javascript time)

   $(".add").click(function(){
      player.markers.add([{
            time: 25, // I don't know wich time I need bu implement it depeding the what I selected inside the player
            text: "marker"
         }]);

Exemple here 👍
https://www.hostingpics.net/viewer.php?id=252248

[2017-06-15 17:22] borzaka commented on #63
Add a marker to the current time of the player:

[code]

[2017-06-16 08:22] sylvain94 commented on #63
Many thanks for your help Borzaka. That's the need !

[2017-06-18 19:07] borzaka opened #64 "How can I style the current marker?"
I'am trying to get the current marker and add a custom class or style to it without jQuery.
How can I do that? I think the `onMarkerReached` callback is not enough for that.
[code]

Can you integrate this feature? For example add a _vjs-marker-current_ class to the current marker element.
Or this class could be defined in the settings for each marker, or globally: `currentClass: 'vjs-marker-curren

[2017-06-20 02:47] spchuang commented on #62
can you pass in empty array [] for markers?

[2017-06-20 02:47] spchuang commented on #62
Can you add empty array `[]` or markers?

[2017-06-20 02:50] spchuang commented on #63
Thanks for replying @borzaka !

[2017-06-20 02:50] #63 closed

[2017-06-20 03:51] spchuang commented on #64
So you can select the marker dom through javascript using the marker's unique key.

[code]

I could add a function wrapper for this retrieval but since it could be done fairly easily with just javascript, I don't think its super high priority right now.

[2017-06-20 08:03] borzaka commented on #62
Yes, it's working, thank you! Now I can use the minified version :)

[code]

But you should consider add that if statement that I suggested for future proof.

[2017-06-20 08:22] borzaka commented on #37
I can confirm that the markers in the first two video at the [demo page](http://sampingchuang.com/videojs-markers) are not showing:
- `Chrome 58.0.3029.110 (64-bit)` - Windows 10
- `Firefox 53.0.3 (32 bit)` - Windows 10
- `Edge` - Windows 10
- `Internet Explorer 11` - Windows 10

Maybe the player wasn't ready?
I think the demo page should be updated to VideoJS 5.x

[2017-06-20 09:29] borzaka commented on #64
Thank you, it was a big help!
I came up with this:

[code]

I still think that it would be a great idea to integrate this feature to the core; add a globally (or per marker) defined class to the current marker. Only the current marker would have this class. What do you think?

Probably the #46 was also about it.

[2017-06-21 13:16] borzaka opened #65 "Don't use Array.forEach, use for() instead"
According to [this article](https://coderwall.com/p/kvzbpa/don-t-use-array-foreach-use-for-instead):

[2017-06-25 07:44] jiayouwyhit opened #66 "How can I use this plugin with vuejs?"
I am trying to use this plugin with vuejs (more precisely, my vuejs code is based on the vuejs-cli template).  So after I installed the source code of videojs-markers through "npm install videojs-markers --save", I tried to import both the css and js files of videojs-markers:

import "videojs-markers/dist/videojs.markers.css";
import "videojs-markers/dist/videojs-markers.js";

But it does not work

[2017-07-28 05:57] jiahaikun commented on #66
i  hope somebody can tell us the issue too!

[2017-08-28 03:30] mheppner commented on #66
I suggest using [surmon-china/vue-video-player](https://github.com/surmon-china/vue-video-player). If you don't want to, videojs-markers will self-register itself as a plugin to video.js. Just make sure you're importing those 2 dist files before you initialize your app. Import video.js first, then this plugin, then create your `new Vue()` app.

[2017-09-03 15:38] MartijnGrul opened #68 "player.markers.add doesn't work"
I'm working on a project where i need to add markers from a json array. However adding markers dinamycly is not possible. This is my code:

    player.markers({
        markers: []
    });

    if(bookmarks_array.length !== 0){
        bookmarks_array.forEach(function(bookmark) {
            console.log(bookmark);

            var color_bookmark = "";

            if(bookmark.public == true){

[2017-09-04 11:27] ikovic commented on #68
You are sending an object with `markers` property as an array to `player.markers.add` function. You should just send the array containing the marker descriptors.

[2017-09-07 16:13] ChongoShaun opened #69 "Youtube Plugin with markers not displaying correctly"
When loading video via the youtube plugin, only the last marker in the array is showing, and it is placed at the very beginning of the progress bar:

![screen shot 2017-09-07 at 11 11 50 am](https://user-images.githubusercontent.com/1319786/30173484-70a67f84-93bd-11e7-8bc4-bd9afb1e535d.png)

markers work when loading non-youtube video sources.

Any advice?

[2017-09-07 17:00] ChongoShaun commented on #69
I HEARBY DECLARE MYSELF TO BE AN IDIOT!

My test source video was longer than the demo, and I was adjusting the width of the markers themselves. Turns out they were just not spaced out enough in the time calls. They were overlapping themselves and were only about 15 seconds apart. SORRY!

[2017-09-07 17:06] ChongoShaun commented on #69
I can get it to work correctly if I turn autoplay on, but once its disabled, it looks just as it does in the screen shot.

[2017-09-23 12:04] Miguelrn opened #70 "Videojs and modal windows"
Hello everyone!
I'm trying to figure out why markers are not loading when videojs is loaded inside a modal window (boostrap), the problem is like the following:
i made two buttons, each of them load a diferrent video source and markers, when click on the first one load video and markers right but click on the second button just load video and not markers.
here its the error i get in the second cli

[2017-10-17 01:17] irugoy commented on #69
I'm facing same issue, apparently is an issue with the getDuration method in Youtube.js, as per the Youtube API it returns a number in seconds and videojs-markers expect duration in minutes.
I did a quick fix dividing the getDuration /60  and worked ok.

Youtube.js : line 560

**Before**
  duration: function() {
      return this.ytPlayer ? (this.ytPlayer.getDuration()/60) : 0;
    },

**After**

[2017-10-19 09:45] vhmth commented on #69
@irugoy sweet! Thanks for the update here.  @ChongoShaun does that fix things for ya?

[2017-10-19 11:10] irugoy commented on #69
In addition to the autoplay thing I've found another issue, when using the Youtube plugin it uses a getDuration method to return the length of the video. Apparently that info is not available for the videojs object if autoplay is not set and getDuration returns NaN, so markers could no be positioned correctly. The work around I did is to leave autoplay on and pause the video once start playing lis

[2017-10-25 17:03] L2o commented on #29
I changed line 250 :

`markerTip.querySelector('.vjs-tip-inner').innerText = setting.markerTip.text(marker);`
to
`markerTip.querySelector('.vjs-tip-inner').innerHTML = setting.markerTip.text(marker);`

So it process HTML tags, I think it's not the most crash-proof thing, but it might help.

[2017-10-30 06:22] kunjan13 opened #72 "does this work in mobile browsers?"
As i have tried in playing iphone chrome and safari browser it does not work. When i tap on markers it just shows information of chapter but it does not seek to that chapter.

[2017-11-02 09:18] vhmth commented on #72
@kunjan13 when implementing this on [Loom](https://www.useloom.com] for markers in our comments system, we actually don't show the markers on mobile on purpose since the tap area is so small. I haven't actually tested this against that, but it may be that we'd have to register tap events on top of click events.

[2017-11-08 05:46] spchuang commented on #72
I haven't really tested this on mobile browsers so it likely doesn't work very well. I believe it is possible to add support for mobile browser with some testing but I haven't had the time to actively supporting new cases so if you are interested, you're more than welcomed to help :)

[2017-11-08 06:12] spchuang commented on #70
Hi @Miguelrn, the issue is with not properly destroying the markers instance. Ideally, the plugin should automatically detect when the video source has changed and act accordingly (i.e. auto remove plugin, or remove markers). This is what we can do right now:

whenever we start a new video, we destroy the marker plugin and reinitialize. Notice that the `player.marker` object is different before an

[2017-11-08 06:12] #70 closed

[2017-11-08 06:14] spchuang commented on #68
As @ikovic  suggested, for the `add` function, you only need to pass in an array of marker objects. so something like

[code]

[2017-11-08 06:14] #68 closed

[2017-11-08 06:15] spchuang commented on #69
thanks for the help @irugoy! If you want to make that part the plugin, feel free to send a pull request!

[2017-11-18 18:36] shravanthanvi opened #73 "Getting Error with videojs 5"
Getting this errors
in the example given
TypeError: _video2.default is undefined
videojs-markers.js:466:3

TypeError: player.markers is not a function
[Learn More]

[2017-11-18 18:37] shravanthanvi opened #74 "Problem with Videojs 5.X"
hi
When i use the marker. Markers are getting displayed. But i am not able to move the cursor on the controls.

Regards

[2017-11-21 04:12] balindenberg commented on #73
Did you find a solution to this? I'm getting `_video2.default.registerPlugin is not a function` using Videojs 5.18.4

[2017-11-21 04:21] balindenberg commented on #73
@shravanthanvi I used this distribution of Markers and it worked: https://cdnjs.cloudflare.com/ajax/libs/videojs-markers/0.7.0/videojs-markers.js

[2017-11-21 11:12] Pekkonen opened #75 "Problem with markers"
Hi. In your link
"JSBin Demo can be found here" - http://jsbin.com/vifilen/1/edit I don't see markers
But see many errors in Chrome console:
fs.js:36 Dave is ready.
fs.js:36 To edit settings, type this string into the console: octuc0tapclg
fs.js:72 XHR finished loading: POST "https://rs.fullstory.com/rec/page".
c.post @ fs.js:72
c.start @ fs.js:192
c.createRecorder @ fs.js:210
c.start @ fs.js:209

[2017-11-22 05:55] vhmth opened #76 "Remove as Collaborator"
Hi @spchuang. We have just undergone a major rewrite of our player that moves away from video.js. Unfortunately, this means that it's going to be hard to keep up with the issues on this repo and fix them. :-\ Would you mind removing me as a collaborator?

[2017-11-23 20:27] spchuang commented on #76
yup

[2017-11-23 20:28] #76 closed

[2017-11-23 20:28] #72 closed

[2017-12-05 05:09] fahedusmanrana opened #78 "HTML5 Video player doest not show markers tip on live server. Its working fine on localhost."
I have created a script for interactive video and I got some requirements to show markers in the process bar of video. I worked on that and it works perfectly on localhost but when I put it live, only markers are showing. The text with those markers is not showing. I have searched everywhere on google and lot on videojs guides but I am not able to fix it. Below is my code for creating markers:

[c

[2017-12-05 20:14] spchuang commented on #73
Yes, use the newest release which support videojs 5

[2017-12-05 20:14] #73 closed

[2017-12-05 20:14] spchuang commented on #74
Do you have an example code I can take al ook?

[2017-12-07 11:54] shravanthanvi commented on #74
below is the marker code

var markers =  array;
var playedfirst = 0;

player.markers({
   markerStyle: {
      'width':'2px',
      'border-radius': '2%',
      'background-color': 'red'
   },
   markerTip:{
      display: true,
      text: function(marker) {
         return "Break: "+ marker.text;
      },
      time: function(marker) {
         return marker.time;
      }
   },
   breakOverlay:{

[2017-12-13 08:12] spchuang commented on #75
HI, sorry it seems like in a previous commit (https://github.com/spchuang/videojs-markers/commit/8fd8d50ce2f960a6db328d3c8aadcaa02832380b) someone updated the code for videojs6. I'm reverting back the changes. Will push a new package. Thank you!

[2017-12-13 08:12] #75 closed

[2017-12-13 08:49] spchuang commented on #54
will be added to newest package.

[2017-12-13 08:49] #54 closed

[2017-12-13 09:01] spchuang commented on #62
Good idea. Just updated the code to handle it more gracefully.

[2017-12-13 09:01] #62 closed

[2017-12-13 09:02] spchuang commented on #78
Hey, I"m happy to help.

Could you create a jsbin so I can debug it more closely online? Thanks

[2017-12-13 09:03] spchuang commented on #74
@shravanthanvi, sorry for the late reply. Do you mind creating a jsbin so I can actually debug it online? The code you shared as is isn't easy to replicate locally. Thanks

[2017-12-13 09:04] spchuang commented on #69
closing as the issues seems to be resolved. Thanks

[2017-12-13 09:04] #69 closed

[2017-12-13 09:11] #17 closed

[2017-12-13 09:26] spchuang commented on #59
HI mkovacek, so the documentation is using an much older version so it's hard to say.

Sorry for the late reply..

I can see how this could be a platform specific bug as some people have complaint on stackoverflow.. Can you see if this fixes?

[code]

[2017-12-27 13:35] codex-corp opened #80 "It should be on ready"
https://github.com/spchuang/videojs-markers/blob/04dff88f70c32d763d9962aeb5bc93410100e8a4/dist/videojs-markers.js#L447

[code]

[2017-12-27 15:16] alekseykarpenko commented on #39
@spchuang how about updating README with new installation method via npm? found about availability on npm through github issues..

[2018-01-22 18:48] NarakuF opened #81 "Miss dist folder when using npm and yarn"
When I use 'npm install videojs-markers' and 'yarn add videojs-markers', it will miss dist folder in node_modules/videojs-markers.
![capture](https://user-images.githubusercontent.com/32041742/35238242-ec622ae6-ff7a-11e7-9c54-60be2ee43f71.PNG)

[2018-01-29 09:39] rubanaan commented on #81
I have the same issue, did you already find a solution?

[2018-01-29 09:44] webernir commented on #81
I reverted to previous version

[2018-01-31 22:04] NarakuF commented on #81
@webernir Hi, it seems that dist folder is still missing, could you check it?

[2018-02-01 09:38] MohammedAkhil opened #82 "How to use the plugin with react"
I'm trying to add this plugin to my react app.

I've tried to add a script to index.html

[code]

in `App.js`
[code]

but i get this error
[code]

how do i properly add this plugin in react.js

[2018-02-01 11:37] webernir commented on #81
@NarakuF  I think it's still an issue.
i'm still working with previous version....

[2018-02-02 18:32] NarakuF commented on #82
@MohammedAkhil Instead of calling `video.markers()`, try to use `this.player.markers`, that's what I did.

[2018-02-03 03:49] spchuang commented on #82
Thanks @NarakuF  for figuring it out! Yeah if you are initializing with `this.videoNode`, it makes sense to use the right reference to the videojs player (which is `this.player` in this case.

[2018-02-03 03:49] #82 closed

[2018-02-03 03:51] NarakuF commented on #81
@spchuang Hi, it doesn't work, for v1.0.0

[2018-02-03 16:46] rubanaan commented on #81
It's because the /dist/ directory is added to the .gitignore, right? Downgrading to v0.6.0 fixed the issue for me, but a fix in the last version would be nice!

[2018-02-04 02:39] spchuang commented on #81
got it. Updating a new package 1.0.1 with the fix

[2018-02-04 02:55] spchuang commented on #81
it should work now!

[2018-02-04 03:03] spchuang commented on #80
Are there cases when the current initialization method fails for you?

[2018-02-05 10:52] rubanaan commented on #81
@spchuang Thanks, worked for me!

[2018-02-05 16:31] #81 closed

[2018-02-26 07:37] a3626a commented on #59
In my case :
    Edge
    videojs 6.6.3
@spchuang 's code fixes the problem.

[2018-03-18 15:13] karan101292 commented on #78
same here. markers are not showing after hosting. its working on localhost.
[code]

need help.

[2018-03-19 15:51] NarakuF opened #83 "Return UUID of add method"
Is it better to return an UUID when we call the add method? Since I notice that the markers are sorted so it becomes hard to track the markers we add dynamically. Having an UUID may be helpful, right?

[2018-03-26 04:53] spchuang commented on #78
@karan101292, can you help create an example jsbin so i can repro online and debug?

[2018-04-07 18:44] kgero opened #84 "Error if using videojs.markers.js locally"
If I reference this way:

[code]

I can use this plugin just fine. (And it's great! Love it.) But if I try to reference it locally, in the way suggested in the documentation:

[code]

I get this error:

`Uncaught SyntaxError: Unexpected identifier`

which is referencing this line in videojs.marker.js:

`import videojs from 'video.js';`

I am trying not to use npm or anything; I'm not sure why exac

[2018-04-10 15:45] cplaiu opened #85 "Markers don't display"
Hi, I have a problem with rendering of markers.
Sometimes they appear and others do not.
I have an ajax that returns the content to show it later.
![markers](https://user-images.githubusercontent.com/32199465/38567422-7b8d913a-3ce6-11e8-9488-fdba5fc7c41b.png)
What could be the problem ?

[2018-05-01 17:18] m1ch3lp3r3z opened #87 "[Done] Allow html inside marker tip"
Hi,

In case it's helpful for anyone else, I made some changes to allow html inside the marker tip. Changes are here: https://github.com/m1ch3lp3r3z/videojs-offset/commits/master

Happy to make a PR if you think it'll be useful.

Thanks

[2018-05-09 16:01] NoamPaz opened #88 "videojs 6 deprication"
videojs version: 6.8.0

use the plugin as npm package (yarn add videojs-markers)

I get 2 warnings on run time:
1) videojs.plugin() is deprecated; use videojs.registerPlugin() instead
2) videojs.createEl() is deprecated; use videojs.dom.createEl() instead

It's still working, bug it's better to fix those warning

[2018-05-21 14:06] NoamPaz commented on #88
Seems like there is a pull request for this issue:
https://github.com/spchuang/videojs-markers/pull/86
Is it possible to review and approve it. Thanks.

[2018-05-24 22:25] spchuang commented on #88
just accepted the pr

[2018-05-24 22:26] spchuang commented on #87
It seems helpful. Do you want to make a PR?

[2018-05-26 06:34] NoamPaz commented on #88
Thanks!!
Please bump the version and publish it to npm.

[2018-05-31 12:01] alandelpiccolo opened #90 "Angular 4: "this.player.markers is not a function ...""
Greetings,
trying to test markers within an Angular app.

HTML:
[code]
TS:

import { VideoService } from './video.service';

@Component({
  selector: 'app-videos',
  templateUrl: './videos.component.html',
  styleUrls: ['./videos.component.sass']
})

export class VideosComponent implements OnInit, OnDestroy, AfterViewInit {

//unrelated code
[code]

.angular-cli.json (only the important part):

[c

[2018-06-02 15:31] DanielnetoDotCom commented on #90
Same here, I am using video js 6, does it makes any difference?

[2018-07-30 21:12] dexroman opened #91 "Video.JS - User Bookmark Plugin Project"
N/A

[2018-08-14 07:05] MarcusRosen opened #92 "Angular 2/6 Support"
Hi,

Are there any examples of using videojs-markers with Angular 2 or above?

[2018-09-27 19:53] #91 closed

[2018-10-31 11:00] nicolasroger17 commented on #87
I also think it's useful, I've made a PR just for this:
https://github.com/spchuang/videojs-markers/pull/94/files

[2018-12-05 15:09] TheFrankman commented on #90
Did anyone get anywhere with this ? I'm having the same issue in Vue

[2018-12-06 18:55] denodster opened #95 "onMarkerReached takes a long time to fire"
I'm trying to set up a pause and message for when a marker is reached. I want the video to stop on the marker, however it stops substantially after the marker. which seems to indicate that the event does not fire until up to a second after the marker is reached.

[2018-12-11 07:16] amrishashok commented on #90
Anyone having this issue just add this line at the top of your Angular component
`declare var videojs: any;`

[2018-12-15 02:36] masudhossain opened #96 "Append markers to a different element"
Right now the markers are being put on the seek bar, I want to move them to a different element. Is this possible?

[2018-12-19 05:35] dankcellar opened #97 "tom"

[2018-12-19 05:35] #97 closed, assigned to nobody

[2018-12-19 05:36] dankcellar commented on #97
I missed clicked

[2018-12-26 07:33] #96 closed

[2019-01-15 22:39] buddhashrestha commented on #84
I too have the same issue. Any updates?

[2019-01-28 21:51] bcoletta commented on #84
Instead of
`<script src='videojs-markers/src/videojs.markers.js'></script>`
try using
`<script src='videojs-markers/dist/videojs.markers.js'></script>`

[2019-02-05 16:17] amenks commented on #37
Hi, I noticed that it works fine in Chrome 71.0 on macOS 10.13.6 but not in the same Chrome 71.0  on Android 8.0.0.

[2019-03-11 15:14] emrexhepi opened #98 "_video2.default.registerPlugin is not a function"
I run the project on demo folder and this is what i get:
TypeError: _video2.default.registerPlugin is not a function[Learn More] videojs-markers.js:518

    <anonymous> videojs-markers.js:518 <anonymous> videojs-markers.js:10 <anonymous> videojs-markers.js:1

TypeError: player.markers is not a function[Learn More] example.html:99:4

    <anonymous> http://localhost:5500/videojs-markers/demo/exampl

[2019-04-07 06:22] niravshah99 opened #99 "Markers not showing in android webview"
I tried to wrap up the demo examples in android webview  but I cannot see the markers .
Has any one had success with this making  markers working with android webview ?

[2019-06-14 13:07] Valoute-GS commented on #98
Same for me, seems this videojs pluggin is obselet ... no ?

[2019-06-15 08:53] Legion2 opened #100 "Draggable Markers"
Make it possible to drag Markers on the progress bar and update the time value.
With this feature it is possible to interactively create new markers directly on the progress bar.
Use cases:
- Trim video editor, mark trim points
- Video markers can be created directly on the progress bar and exported for later use.

[2019-06-19 09:55] matthewgan commented on #98
Same for me, using Chrome

[2019-06-20 11:50] colin354 commented on #98
Same for me, using Chrome,has solutions?

[2019-06-24 12:49] spchuang commented on #98
Hi sorry this repo has not been maintained in a long time. I'm guessing the newer videojs version changed its plugin interface. Please feel free to submit any PR for the fix!

[2019-08-22 21:16] daveythomas commented on #87
How is this used/coded when setting up the marker tip?  Is it possible to put an image in the html for the marker tip?

[2019-08-23 11:40] nicolasroger17 commented on #87
It's been a while, but looking at the code, I believe you can do that:
[code]

[2019-08-23 17:06] fealaer commented on #88
It seems like the main maintainer has left GitHub. :(
Due to this, I've released new version in the [fork](https://github.com/fealaer/videojs-markers-plugin) - [npm](https://www.npmjs.com/package/videojs-markers-plugin).

[2019-08-23 17:48] spchuang commented on #88
Hi, I'm happy to add other folks as collaborators if anyone is interested. I can also give access to update the npm package so people can continue with the same one without having to change to a new one

[2019-09-10 06:42] wideeyedtech opened #101 "Any provision to use this in Reactjs?"
suggest how to implement the markers with Reactjs.

[2019-09-24 16:50] CleverMee commented on #90
After installing the videojs-markers, is necessary to import the .js to the app.component.ts like this:
`import 'videojs-markers';`

Regards

[2019-10-15 01:33] seabasss opened #102 "How can I use this with videojs-playlist?"
Hey,

I want to use this with [videojs-playlist](https://github.com/brightcove/videojs-playlist), but I can't find a way to update the new markers properly when switching track. It seems like `videojs-markers` gets confused to which timeline it's supposed to put the markers on.

When I'm running this:

[code]

I get this error:

I've also tried:

[code]

And that doesn't give me an error, but the

[2019-12-24 07:40] KeJX opened #103 "how to use it in vue-cli?"
how to use it in vue-cli?

[2020-01-28 22:07] daveythomas commented on #87
I am using HTML in the marker tips to show both an image and text as a way to let users know there is additional information available at certain points in the video.

Is it possible to add an `<a href>` link in the marker tip HTML to open a page or run a javascript? This would be especially useful on the iPad (or other mobile devices) where the first tap on a marker displays the marker tip and a

[2020-02-06 07:43] acharyaks90 commented on #98
Please merge the PR

[2020-02-06 12:12] jezperp opened #105 "Remove "Break:" in text"
Hi! First of all, thanks for this awesome plugin.

I have an issue where this "Break:" text is added to my markers, I don't want this since I want complete control over what is being viewed in my markers, can we remove this? Seems odd to add this by default...

Or is it possible to override the default setting of how the markers text is being generated?

Thanks.

[2020-02-25 18:48] Jorenm commented on #105
Looking at the code it seems one of the options will let you override that. {markerTip: {text: yourfunction() {}} will probably do it. You can also just directly edit the default settings.

[2020-02-25 18:52] Jorenm opened #106 "Working version"
I don't have time to do do this right and submit a pull request, but I did get this working with newer versions.

https://gist.github.com/Jorenm/b70cfa53eee9391cd3f0b8810f621931

Init plugin with:
`window.initVideojsMarkers(videojs(_yourplayerid_))`

[2020-03-02 09:09] abhinavatai commented on #80
Yep. I've already initialized and added markers before player event ""loadedmetadata".
When you initialize it again using this event all my previous markers are removed.
This should not happen?

[2020-03-05 20:04] leontp587 opened #107 "Markers does not display depending on OS / browser"
On macOS Mojave Firefox (68.5.0) and Chrome (80.0):
- Does not display any markers

On macOS Mojave Safari (13):
- Markers display as expected

On Windows 10 Firefox (68.5.0):
- Makers display does not work on first page load, requires refreshing

Here's macOS Mojave Firefox (68.5.0) showing no markers on the demo site:
<img width="1058" alt="Screen Shot 2020-03-05 at 2 59 30 PM" src="https://user

[2020-08-04 09:25] logdone commented on #85
The same problem happens to me.
To produce it I play the video as fast as I can (The add marker function is on the ready function "videojs('video').ready(function(){ ")

[2020-10-16 08:39] chilipote commented on #107
Hi !
I am experiencing the same error ! Any news on this - Did you manage to find a work around @leontp587 ?

[2020-11-17 09:49] Mohit17067 commented on #105
Hi, any solution for this? {markerTip: {text: yourfunction() {}} is not working here.

[2020-11-24 06:28] romenov commented on #105
Try
`markerTip: {
          text(marker) {
            return "your text here";
          },...`

[2020-12-24 04:19] mig8447 opened #109 "All of the 'loadedmetadata' listeners are removed by this plugin"
The excerpt below removes all player's loadedmetadata listeners
https://github.com/spchuang/videojs-markers/blob/7ae4b86dec98fec73798598572005078b9fcf0c8/src/videojs.markers.js#L449

The below excerpt should instead be changed to `player.one( ... )` to avoid this
https://github.com/spchuang/videojs-markers/blob/7ae4b86dec98fec73798598572005078b9fcf0c8/src/videojs.markers.js#L453

[2021-06-27 08:18] HyacinthChen1 opened #111 "1.0.1版本的release在哪里下载"
你好，请问github上1.0.1版本的release在哪里下载，目前只找到npmjs的地址。

[2021-09-23 12:35] wangyixiong opened #112 "onMarkerClick"
这个事件描述的不太清楚，想实现点击打点位置不跳转  这个可以实现吗

[2022-02-17 20:26] uvanchang commented on #102
I know this is an old post, but I was able to update the markers by completely resetting the plugin.

[code]

[2022-11-11 16:18] jmalmaguer commented on #106
Hi @Jorenm , I have problems with showing the markers when the video is live, I have tried this but it doesn't work. Can you give me some suggestions?
Videojs version : 7.19.0
![image](https://user-images.githubusercontent.com/70830112/201384149-47d221ec-bed5-4a75-83f5-8331d82d311a.png)

[2022-11-11 18:07] Jorenm commented on #106
Sorry I don't even remember what project this was for, or anything about it. That Gist looks like it has the code I used which was working at the time.